<div class="container-custom">
    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-bold">Cancelation request Submitted</h1>
        </div>
        <div class="col-12">
            <p>
                You order cancellation request have been updated. Please check your email for order cancellation confirmation and detailed information.
            </p>
        </div>
        <div class="col-12">
            <p class="highlighted">If its size change, we will update from our side about its availability.</p>
            <p class="highlighted">If its quantity change, we shall update from our side about its availability and Delivery details.</p>
            <p class="highlighted">If you have purchased the item(s) during a sale, it is not eligible for a return or refund.</p>
        </div>
        <div class="col-12 mt-3">
            <h2 class="font-weight-bold">From bag</h2>
        </div>
        <div class="col-12 d-flex">
            <div class="order-img">
                <img src="../../assets/images/png/cart/women.png" alt="">
            </div>
            <div class="order-details row">
                <div class="col-8">
                    <p class="font-weight-bold mb-0">Stereotype Black</p>
                </div>
                <div class="col-2 offset-1">
                    <small>Rs.899</small>
                </div>
                <div class="col-2">
                    <small>Size:</small>
                </div>
                <div class="col-2">
                    <small>Large</small>
                </div>
                <div class="col-12 mt-5">
                    <p style="font-weight: bold; text-decoration: underline;">Qty:1</p>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <button class="shopping-btn">Continue Shopping</button>
        </div>
    </div>
</div>