<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-3 col-xl-2 col-md-3 col-12 col-sm-12 helpcenter-div-fixed">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
        <ul>
            <li class="return-policy-opn"><span routerLink = "/return-policy">Our return policy</span></li>
            <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
            <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
            <li class="return-policy-opn1"><span>Feedback</span></li>
            <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
            <li class="return-policy-opn"><span routerLink="/aboutus">About us</span></li>
            <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
        </ul>
    </div>
    </div>
    <div class="breadcrumb-switch">
        <div style="position: relative; top: 7px; font-size: 12pt;">
            <app-breadcrumb category="Help center"></app-breadcrumb>
          </div>
          <div>
              <button id="switch-btn" routerLink = "/helpcenter-switch"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false"></span>Switch</button>
          </div>
    </div>
    <div class="col-lg-8 col-xl-6 col-md-8 col-12 col-sm-12 ml-md-auto ml-lg-auto mx-xl-auto">
       <h1 class="return-policy-h1">Feedback</h1>
       <h3 class="return-policy-h3">Do tell us about your experience, for our future endurance. We are a young team, we learn things everyday around us.</h3>
<div>
    <form action="">
        <input type="text" placeholder="First name*" class="d-block p-2 my-3" style="font-size: 13px;" />
        <input type="email" placeholder="Email*" class="d-block p-2 my-3" style="font-size: 13px;" />
        <textarea rows="7" placeholder="Elaborate your experience. We wish to learn more from our customers." style="font-size: 13px;" class="d-block p-2 my-3"></textarea>
   <h3 style="letter-spacing: 0.54px;" class="font-weight-bold">Rate your experience</h3>
   <p>This would help us to grow, in a good way.</p>
   <div class="rate d-block mx-0 px-0">
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
  <div style="clear: both;">
   <button type="submit" value="" class="start-return-btn d-block" >Submit</button>
   </div>
    </form>
</div>
    </div>
    </div>
    </section>
    
    



  



    
