<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-3 col-xl-2 col-md-3 col-12 col-sm-12 helpcenter-div-fixed">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
        <ul>
            <li class="return-policy-opn"><span routerLink = "/return-policy">Our return policy</span></li>
            <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
            <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
            <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
            <li class="return-policy-opn1"><span>FAQ - Customers</span></li>
            <li class="return-policy-opn"><span routerLink="/aboutus">About us</span></li>
            <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
            
        </ul>
    </div>
    </div>
    <div class="breadcrumb-switch">
        <div style="position: relative; top: 7px; font-size: 12pt;">
            <app-breadcrumb category="My Account"></app-breadcrumb>
          </div>
          <div>
              <button id="switch-btn" routerLink = "/myaccount-switch"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false"></span>Switch</button>
          </div>
    </div>
    <div class="col-lg-8 col-xl-6 col-md-8 col-12 col-sm-12 ml-md-auto ml-lg-auto mx-xl-auto">
       <h1 class="return-policy-h1">FAQ - FROM CUSTOMERS</h1>
       <h3 class="return-policy-h3">Frequently asked questions are here as help guide for the customers which would give you a basic headsup on your few questions.</h3>
    
    <div>
    
        <!-- For demo purpose -->
        <!-- <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center">
                <h1 class="display-4">Bootstrap 4 accordion</h1>
                <p class="lead mb-0">Using Bootstrap 4 card component, build a vertical accrodion with up & down chevrons.</p>
                <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                    <u>Bootstrapious</u></a>
                </p>
            </div>
        </div>End -->
    
    
            <div class="border-0">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion border-0">
    
                    <!-- Accordion item 1 -->
                    <div class="card border-0 outline-0">
                        <div id="headingOne" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How does the return process work?<i class="fas fa-chevron-down float-right"></i></button>
                                    
                            </h2>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 2 -->
                    <div class="card border-0">
                        <div id="headingTwo" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How does the refund policy works if you buy it during a Sale?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0 ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vel sint ea nam? Reiciendis distinctio animi eius. Eos sunt vel, labore officia, corrupti minus amet vero laboriosam voluptatum qui reiciendis.</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 3 -->
                    <div class="card border-0">
                        <div id="headingThree" class="card-header p-0 m-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How do I self ship the products?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum aut harum assumenda dignissimos, nisi sed magni minima, eius possimus explicabo placeat architecto aspernatur iusto adipisci eligendi quam labore cumque dicta.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="headingfour" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>Finding any difficulty on understanding any of these<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapsefour" aria-labelledby="headingfour" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit nisi et fuga veniam incidunt ipsum iste dicta, quidem illo qui pariatur, ullam eveniet officia debitis labore deserunt velit facere sint.</p>
                            </div>
                        </div>
                    </div>



                    <div class="card border-0">
                        <div id="headingfive" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapsefive" aria-expanded="false" aria-controls="collapsefive" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>What shipping options does ZeroArmario offer?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapsefive" aria-labelledby="headingfive" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0card-body px-4 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam distinctio sequi eum quos sit ex, sapiente esse beatae magni laborum sed, nihil sunt voluptatem! Eius ipsum facilis quisquam repellat ullam?</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="headingsix" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How long willl it take my order to process for shipping?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapsesix" aria-labelledby="headingsix" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quidem accusamus quisquam voluptatum tempore optio eveniet nihil possimus velit natus amet, omnis nemo error dolor cupiditate saepe perspiciatis dicta ratione.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="headingseven" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapsefour" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>Do i get a refund if I buy products on sale?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseseven" aria-labelledby="headingseven" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quaerat dolorum autem suscipit magnam illo ratione blanditiis enim dolores rerum consequatur perferendis, porro aliquid rem numquam? Inventore quis corporis expedita?</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="headingeight" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseeight" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How to find am i eligible for a refund?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseeight" aria-labelledby="headingeight" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam tempore et aut voluptas, doloribus, nam similique quia eos cum soluta, pariatur porro non expedita tenetur nostrum illo ipsa deserunt corporis!</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="headingnine" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsenine" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How to track my order?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapsenine" aria-labelledby="headingnine" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class=" font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque natus, quod fuga nulla suscipit blanditiis non culpa eos! Ullam dignissimos dolores eaque harum voluptatibus et corrupti at quidem illo explicabo!</p>
                            </div>
                        </div>
                    </div>

                    <div class="card border-0">
                        <div id="headingten" class="card-header m-0 p-0 bg-white   border-0">
                            <h2 class="mb-0">
                                <button type="button"  data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapseten" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>Where to find your tracking ID?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseten" aria-labelledby="headingten" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quo consequatur nihil iste ex alias soluta adipisci quibusdam, illum asperiores blanditiis accusamus eos beatae saepe fugiat ab enim nulla deleniti!</p>
                            </div>
                        </div>
                    </div>

                </div><!-- End -->
            </div>
        </div>
        <div class="return-qus-btn mt-5 pt-5 text-center">
            <h3 style="font-weight:900;font-family:proxima-nova;
            letter-spacing: 0.32px;font-size: 18px;" class="pt-5 my-3">Did this answer your question?</h3>
            <a href="">Yes it was!</a>
            <a href="">No it wasn’t</a>
        </div>
    </div>
    </div>
    </section>
    
    
    
    
