   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class=" navbar-brand logo-header" routerLink="dashboard" style="width: 20%;">
        <img  src="assets/images/png/logo/zeroarmario.png" style="width: 50%;" alt="logo" class="zeroarmario-logo">
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="nav-item dropdown" ngbDropdown  >
            <div class="nav-link dropdown-toggle" ngbDropdownToggle  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </div>
            <div class="dropdown-menu" ngbDropdownMenu  aria-labelledby="navbarDropdown">
              <a class="dropdown-item" ngbDropdownItem href="#">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" ngbDropdownItem href="#">Logout</a>
            </div>
        </div>
      </form>
    </div>
  </nav>