<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-3 col-xl-2 col-md-3 col-12 col-sm-12 helpcenter-div-fixed">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
        <ul>
            <li class="return-policy-opn"><span routerLink="/return-policy">Our return policy</span></li>
            <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
            <li class="return-policy-opn1"><span >Track my order / return</span></li>
            <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
            <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
            <li class="return-policy-opn"><span routerLink="/aboutus">About us</span></li>
            <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
            
        </ul>
    </div>
    </div>
    <div class="breadcrumb-switch">
        <div style="position: relative; top: 7px; font-size: 12pt;">
            <app-breadcrumb category="Help center"></app-breadcrumb>
          </div>
          <div>
              <button id="switch-btn" routerLink = "/helpcenter-switch"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false"></span>Switch</button>
          </div>
    </div>
    <div class="col-lg-8 col-xl-6 col-md-8 col-12 col-sm-12 ml-md-auto ml-lg-auto mx-xl-auto">
       <h1 class="return-policy-h1">Track your order</h1>
       <h3 class="return-policy-h3">We are here to help you in all steps with us. Do enter the package tracking ID which was given to you through SMS/Email.</h3>
    <ul class="policy-cnt-li">
        <li>Click on the Track order button below. This link will navigate to our website of the packaging company which has undertaken the incharge of dispatching all our orders to our customers.</li>
        <li>Your items tracing ID will send by us to you, if your order been dispatched.</li>
        <li>e.g,. Tracking ID - ZAPC1456764599. If you have received such ID in you sms/email. Do enter the same in the tracking ID.</li>
          </ul>
    <div class="mt-5 mb-5">
    <button routerLink="/" class="start-return-btn">Track order</button>
    </div>
    <div>
        <h3 class="return-policy-h3 pt-5">
            FAQ’s
        </h3>
    </div>
    <div>
    
        <!-- For demo purpose -->
        <!-- <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center">
                <h1 class="display-4">Bootstrap 4 accordion</h1>
                <p class="lead mb-0">Using Bootstrap 4 card component, build a vertical accrodion with up & down chevrons.</p>
                <p class="lead">Snippet by <a routerLink="https://bootstrapious.com/snippets" class="text-white">
                    <u>Bootstrapious</u></a>
                </p>
            </div>
        </div>End -->
    
    
            <div class="border-0">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion border-0">
    
                    <!-- Accordion item 1 -->
                    <div class="card border-0 outline-0">
                        <div id="headingOne" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How to track my order?<i class="fas fa-chevron-down float-right"></i></button>
                                    
                            </h2>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 2 -->
                    <div class="card border-0">
                        <div id="headingTwo" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>Where to find your tracking ID?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 3 -->
                   
                   
                </div><!-- End -->
            </div>
        </div>
        <div class="return-qus-btn text-center">
            <h3 style="font-weight:900;font-family:proxima-nova;
            letter-spacing: 0.32px;font-size: 18px;" class="pt-5 my-3">Did this answer your question?</h3>
            <a>Yes it was!</a>
            <a>No it wasn’t</a>
        </div>
    </div>
    </div>
    </section>
    
    
    
    
