<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-3 col-xl-2 col-md-2 col-12 col-sm-12">
        <div class="helpcenter-div-fixed pr-5">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
        <ul>
            <li class="return-policy-opn"><span routerLink = "/return-policy">Our return policy</span></li>
            <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
            <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
            <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
            <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
            <li class="return-policy-opn1"><span>About us</span></li>
            <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
            
        </ul>
    </div>
    </div> 
    </div>
    <div class="breadcrumb-switch">
        <div style="position: relative; top: 7px; font-size: 12pt;">
            <app-breadcrumb category="Help center"></app-breadcrumb>
          </div>
          <div>
              <button id="switch-btn" routerLink = "/helpcenter-switch"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false"></span>Switch</button>
          </div>
    </div>
    <div class="col-lg-8 col-xl-8 col-md-8 col-12 col-sm-12 ml-md-auto mx-lg-auto mx-xl-auto">
       <h1 class="return-policy-h1">ABOUT US</h1>
       <h3 class="return-policy-h3">
           
        Hai thish is sample tet A longstanding love affair with colours and fashion are responsible for the start of all things at ZeroArmario. We are India’s freshest and trendiest online apparel company offering the latest styles in fashion. We cater to the fashion needs of the young and vibrant who dare to be bold, stylish and want nothing but the best.</h3>
    <ul class="policy-cnt-li">
        <li>We are always keeping our eyes and ears wide open, looking for the coolest treats to give you guys, our awesome customers. W source our products from several suppliers, big and small but usually in limited numbers, so you can be sure what you buy from us stays individual and original. So if you see something you like, we recommend you to grab it quickly as it may not be around for too long. We assure you whatver you buy from ZeroArmario is high grade merchandise.</li>
        <li>Most importantly, we consider you, our amazing customer to be at the centre of what we do. Suggestions for any new ranges, designs, brand improvement, styles, colours… are always welcome. Please feel Free to get in touch with us through email, instagram or calling us on the toll free number.</li>
          </ul>
    <div class="abt-us-div">
        <h3 class="return-policy-h3 pt-5 px-3 my-4" >
            To know more about us
        </h3>
    <button href="" class="start-return-btn">Visit our company</button>
    </div>
    <div>
        
    </div>
    <div>
    
        <!-- For demo purpose -->
        <!-- <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center">
                <h1 class="display-4">Bootstrap 4 accordion</h1>
                <p class="lead mb-0">Using Bootstrap 4 card component, build a vertical accrodion with up & down chevrons.</p>
                <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                    <u>Bootstrapious</u></a>
                </p>
            </div>
        </div>End -->

        </div>
       
    </div>
    </div>
    </section>
    
    
    
    
