<div class="container-custom " style="padding-top: 140px">
    <app-breadcrumb category="Order Confirmation"></app-breadcrumb>
    <div style="height: 24px"></div>
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <h3 class="mb-4" style="font-weight: bold;">Confirm your given details</h3>
            <div class="row mx-0" style="border: 1px solid #000;">
                <div class="col-6">
                    <h3 style="font-weight: bold;">Delivery Address</h3>
            <div id="address" style="padding-right: 15px; padding-left: 15px;">
                <h2 style="font-weight: bold;"></h2>
                <h4></h4>
                <h4></h4>
            </div>
            <br><br>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-0" style="font-weight: bold;">Order Confirmation</h3>
                            <h4 style="opacity: 0.7;">Google pay</h4>
                        </div>
                        <div class="col-12">
                            <h3 class="mb-0" style="font-weight: bold;">Shipping Method</h3>
                            <h4 style="opacity: 0.7;">Regular Shipping</h4>
                        </div>
                </div>
                </div>
            </div>
            <div class="row my-5 mx-0">
                <div class="col-5 p-0">
                    <button class="edit-btn">Edit your bag</button>
                </div>
                <div class="col-6 p-0">
                    <button class="edit-btn">Edit your address</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 offset-md-1 col-sm-12">
            <h2 style="font-weight: bold;">Checkout</h2>
        <hr class="new4">
        
        <div  class="row mt-1" style="padding-top:5%;">
            <div class="col-3">
                <img src="" alt="" style="width: 100px; height: 100px; object-fit: cover;">
            </div>
            <div class="col-9" style="padding-left: 32px;">
               <div class="row">
               <h4 style="font-weight: bold; margin-bottom: 0px;" class="col-8"></h4>
               
               <h5 class="col-2" style="font-weight: bold; margin-bottom: 0px;">Rs.</h5>
               </div>
               <h6>Size: Large</h6>
               <br>
               <h5>Qty: 1</h5>
            </div>
        </div>
        <hr class="new4">
        <div class="row">
            <h4 class="col-8">Subtotal</h4>
            <div class="col-2"></div>
            <h5 class="col-2">Rs.</h5>
            </div>
        <hr class="new1">
        <div class="row">
            <h4 class="col-8">Discount</h4>
            <div class="col-2"></div>
            <h5 class="col-2">Rs.</h5>
            </div>
        <hr class="new1">
        <div class="row">
            <h4 class="col-8">Shipping</h4>
            <div class="col-2"></div>
            <h5 class="col-2">Rs.
        </h5>
        </div>
        <hr class="new1">
        <div class="row">
            <h4 class="col-8" style="font-weight: bolder;">Total</h4>
            <div class="col-2"></div>
            <h5 class="col-2">Rs.</h5>
            </div>
            <div class="row mt-4">
                <div class="col-10 offset-1">
                    <button class="payment-btn">Make the Payment</button>
                </div>
            </div>
        </div>
    </div>
</div>
 