<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-2 col-xl-2 col-md-3 col-12 col-sm-12">
        <div class=" helpcenter-div-fixed pr-5">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
      <ul>
        <li class="return-policy-opn1 ml-0"><span routerLink = "/return-policy">Our return policy</span></li>
        <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
        <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
        <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
        <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
        <li class="return-policy-opn"><span routerLink="/aboutus">About us</span></li>
        <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
        
    </ul>
    </div>
    </div>
    </div>
    <h1 class="cancel-mob">Order Cancellation form</h1>
    <div class="col-lg-10 col-xl-10 col-md-9 col-12 col-xs-12 col-sm-12 float-right pl-md-5 pl-xs-0">
 <div class="rtn_ply_opn_div pl-md-5 pl-xs-0">
     <div class="pl-md-5 ml-md-4 ,ml-xs-0, pl-xs-0">
     <h3 class="display-web">Select the reason that you want to cancel the product</h3>
     <h3 class="display-mob">Select the reason to cancel the product</h3>
     <p class="rtn_plcy_opn_p">Cancelation will work only if your have purchased the item(s) before its being dispatched from our warehouse, which is 24 hours from the time of purchase or Before you receive dispatched message/email from us.</p>
 <form class="return-opn-btn">
    <section class="light section1 py-3">

            
        <label class="my-3">
          <input type="radio" name="light">
          <span class="design"></span>
          <span class="text">Accidental purchase</span>
        </label>
      
        <label class="my-3">
          <input type="radio" name="light">
          <span class="design"></span>
          <span class="text">Wrong size</span>
        </label>
      
        <label class="my-3">
          <input type="radio" name="light">
          <span class="design"></span>
          <span class="text">Found better product</span>
        </label>

        <label class="my-3 display-mob">
            <input type="radio" name="light">
            <span class="design"></span>
            <span class="text">Found a better deal</span>
          </label>

          <label class="my-3 display-mob">
            <input type="radio" name="light">
            <span class="design"></span>
            <span class="text">Not happy with the delivery period</span>
          </label>

          <label class="my-3 display-mob">
            <input type="radio" name="light">
            <span class="design"></span>
            <span class="text">Wrong quantity</span>
          </label>

          <label class="my-3 display-web ">
            <input type="radio" name="light">
            <span class="design"></span>
            <span class="text">Wrong delivery address</span>
          </label>

          <label class="my-3">
            <input type="radio" name="light">
            <span class="design"></span>
            <span class="text">Product no longer required</span>
          </label>
          <label class="my-3">
            <input type="radio" name="light">
            <span class="design"></span>
            <input type="text" placeholder="Any other" style="z-index: 1;" />   
          </label>
      </section>

 </form>
 <h3 class="pt-4">Notify us, if you need to change the size or quantity</h3>
 <p class="rtn_plcy_opn_p display-web">If you have purchased the item(s) during a sale, it is not eligible for a return or refund.</p>
<div class="rtn-plcy-btn1 py-4">
    <button>Change of size</button>
    <button id="qty-btn" class="ml-md-3 ml-xs-0">Change of quantity</button>
</div>  
<button class="rtn-submit-btn my-5">
    Submit
</button>  
</div>
 </div>
    </div>
    </div>
    </section>
    
    
    
    