<section class="mx-auto p-0 py-5 my-5 container-custom">
    <div class="row py-5">
    <div class="col-lg-3 col-xl-2 col-md-3 col-12 col-sm-12 helpcenter-div-fixed">
    <h2 class="helpcenter-h2">HELP CENTER</h2>
    <div class="return-policy-div">
        <ul>
            <li class="return-policy-opn"><span routerLink = "/return-policy">Our return policy</span></li>
            <li class="return-policy-opn1"><span>How refunds work</span></li>
            <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
            <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
            <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
            <li class="return-policy-opn"><span routerLink="/aboutus">About us</span></li>
            <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
            
        </ul>
    </div>
    </div>
    <div class="breadcrumb-switch">
        <div style="position: relative; top: 7px; font-size: 12pt;">
            <app-breadcrumb category="Help center"></app-breadcrumb>
          </div>
          <div>
              <button id="switch-btn" routerLink = "/helpcenter-switch"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false"></span>Switch</button>
          </div>
    </div>
    <div class="col-lg-8 col-xl-6 col-md-8 col-12 col-sm-12 ml-md-auto ml-lg-auto mx-xl-auto">
       <h1 class="return-policy-h1">Our Refund policy and <br />Process</h1>
       <h3 class="return-policy-h3">Most simplest refund policy understanding your convenience Through payTm, Gpay, Bank transfer.</h3>
    <ul class="policy-cnt-li">
        <li>You have 7 days from the date of delivery to return your purchased item.</li>
        <li>Usually the refund would initiate after 5 - 10 days as the packages reach us.</li>
        <li>While returning the item for a refund, the shipping charges will not be refunded with it. Because We do not cover shipping in zero Armario.</li>
        <li>Before sending the item(s) for returning/exchanging, do send us the image/video pointing out the Defect or the damage in the product. Which would help us to express the process in identifying the issue.</li>
    </ul>
    <div class="mt-5 mb-5">
    <button routerLink="/return-policy-option" class="start-return-btn">Start return</button>
    </div>
    <div>
        <h3 class="return-policy-h3 pt-5">
            FAQ’s
        </h3>
    </div>
    <div>
    
        <!-- For demo purpose -->
        <!-- <div class="row py-5">
            <div class="col-lg-9 mx-auto text-white text-center">
                <h1 class="display-4">Bootstrap 4 accordion</h1>
                <p class="lead mb-0">Using Bootstrap 4 card component, build a vertical accrodion with up & down chevrons.</p>
                <p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
                    <u>Bootstrapious</u></a>
                </p>
            </div>
        </div>End -->
    
    
            <div class="border-0">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion border-0">
    
                    <!-- Accordion item 1 -->
                    <div class="card border-0 outline-0">
                        <div id="headingOne" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>What shipping options does ZeroArmario offer?<i class="fas fa-chevron-down float-right"></i></button>
                                    
                            </h2>
                        </div>
                        <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-sm-4 pl-sm-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 2 -->
                    <div class="card border-0">
                        <div id="headingTwo" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How long willl it take my order to process for shipping?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
    
                    <!-- Accordion item 3 -->
                    <div class="card border-0">
                        <div id="headingThree" class="card-header p-0 m-0 bg-white    border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>Do i get a refund if I buy products on sale?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="headingfour" class="card-header m-0 p-0 bg-white    border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour" class="bg-white border-0 outline-0 collapsed text-dark font-weight-bold   collapsible-link"><i class="fas fa-sort-up mr-4 display-web"  style="transform: rotate(90deg);font-size: 25px;"></i>How to find am i eligible for a refund?<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapsefour" aria-labelledby="headingfour" data-parent="#accordionExample" class="collapse">
                            <div class="px-md-4 pr-md-4 pl-md-0 py-0">
                                <p class="font-weight-light m-0 p-md-1 pl-md-2 pl-sm-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, blanditiis illo voluptatem repellendus, quam officiis soluta quibusdam accusantium repellat atque labore quis. Ipsam, reiciendis ut consequatur ab soluta nobis ratione!</p>
                            </div>
                        </div>
                    </div>
                </div><!-- End -->
            </div>
        </div>
        <div class="return-qus-btn text-center">
            <h3 style="font-weight:900;font-family:proxima-nova;
            letter-spacing: 0.32px;font-size: 18px;" class="pt-5 my-3">Did this answer your question?</h3>
            <a href="">Yes it was!</a>
            <a href="">No it wasn’t</a>
        </div>
    </div>
    </div>
    </section>
    
    
    
    