<div class="container-fluid" style="padding-top: 140px">
  <div class="row pl-1">
     <app-breadcrumb category="Change Password"></app-breadcrumb>
  </div>
 
</div>
<div class="container-custom">
  <div class="row mt-md-5 mt-xs-0">
    <div class="col-lg-4 col-xl-3 col-md-5 myaccount-menu" style = "padding: 0px 90px 0px 17px;">
      <div class="row" style="border-right: 1px solid #707070;"> 
        <h5 class="col-12 mb-4" style="font-family: 'proxima-nova'; text-transform: uppercase;">My account</h5>
        <span class="side-navs my-2 col-12" routerLink="/myaccount">Account Information</span>
        <li class="side-navs my-2 col-12 highlighted" style="font-weight: bold;"> Change Password</li> 
        <span class="side-navs my-2 col-12" routerLink="/myorders1"> My Orders</span>
        <span class="side-navs my-2 col-12" routerLink="/return-policy"> Help Center</span>  
        <span class="side-navs my-2 mt-4 col-12" style="font-weight: bold; text-decoration: underline;">Logout</span>
      </div>
    </div>
    <div class="breadcrumb-switch">
      <div style="position: relative; top: 7px; font-size: 12pt; ">
        <app-breadcrumb category="My Account"></app-breadcrumb>
      </div>
    </div>
      <div class="col-lg-6 col-md-6 col-xl-4 col-xs-12">
        <div class="log">
            <div class="input-cont">
            <h2 class="web-h2" stlye="text-align-left" style="font-family: 'proxima-nova'; text-transform: none;" >Create new password</h2>
            <h2 class="mob-h2 pb-3" stlye="text-align-left" style="font-family: 'proxima-nova'; text-transform: none; border-bottom: 1px solid #000;" >Change password</h2>
            </div>
            <div>
              <div class="input-cont formGroup">
                <input id="lastName" type="text" #lastName required class="formControl" placeholder="Old password" style="font-size: 16px;">
                <!-- <label for="lastName">Last name</label> -->
                <div class="border1"></div>
              </div>
              <div class="input-cont formGroup">
                <input type="text"  #email required class="formControl" placeholder="New password" style="font-size: 16px;">
                <!-- <label>Email address</label> -->
                <div class="border1"></div>
              </div>
              <div class="input-cont formGroup">
                <input type="password" #password required class="formControl" placeholder="Confirm new password" style="font-size: 16px;" >
                <!-- <label>Password</label> -->
                <div class="border2"></div>
              </div>
              <div class="notice">
                  <p>Your new password will be notified to your email for confirmational purposes.</p>
              </div>
              <div style="height: 20px;"></div>
              <div class="input-cont web-btn formGroup" style="width: 60%;">
              <button type="button" style="font-family: 'proxima-nova';" class="button btn-lg btn-block">Save</button>
              </div>
              <div class="input-cont mob-btn formGroup" style="width: 100%;">
                <button type="button" style="font-family: 'proxima-nova'; text-transform: none;" class="button btn-lg btn-block">Save changes</button>
                </div>
            </div>
          </div>
        
        
      </div>
    </div>
</div>
