<section style="padding-top: 145px;
padding-bottom: 60px;">
    <div class="container-custom">
        <div class="heading-switch">
            <div>
                <h2>Help center</h2>
            </div>
            <div>
                <div>
                    <button id="switch-btn"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false" data-flip="horizontal"></span>Switch</button>
                </div>
            </div>
        </div>
        <div>
            <ul>
                <li class="return-policy-opn"><span routerLink = "/return-policy">Our return policy</span></li>
                <li class="return-policy-opn"><span routerLink="/refunds-work">How refunds work</span></li>
                <li class="return-policy-opn"><span routerLink = "/track-order-return">Track my order / return</span></li>
                <li class="return-policy-opn"><span routerLink="/feedback">Feedback</span></li>
                <li class="return-policy-opn"><span routerLink="/faq">FAQ - Customers</span></li>
                <li class="return-policy-opn"><span routerLink = "/aboutus">About us</span></li>
                <li class="return-policy-opn"><span routerLink="/">Careers</span></li>
                
            </ul>
        </div>
    </div>
</section>