<section style="padding-top: 145px;
padding-bottom: 60px;">
    <div class="container-custom">
        <div class="heading-switch">
            <div>
                <h2>My Account</h2>
            </div>
            <div>
                <div>
                    <button id="switch-btn"><span class="iconify" data-icon="octicon:arrow-switch-16" data-inline="false" data-flip="horizontal"></span>Switch</button>
                </div>
            </div>
        </div>
        <div>
            <ul>
                <li class="return-policy-opn"><span routerLink = "/myaccount">Account Information</span></li>
                <li class="return-policy-opn"><span routerLink="/changepassword">Change password</span></li>
                <li class="return-policy-opn"><span routerLink = "/myorders1">My Orders</span></li>
                <li class="return-policy-opn"><span routerLink="/return-policy">Help Center</span></li>
            </ul>
        </div>
    </div>
</section>