<div class="container admin-dashboard">
    <div class="row no-gutters main-div" style="padding-top:29px!important;">
        <div class="col-2">
            <h1 style="font-size: 28px; font-weight: bold; padding-left: 1vw;">Dashboard</h1>
        </div>
        <div class="col-3 offset-5">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
              </div>
        </div>
        <div class="col-2 " style="text-align: end;">
            <select name="month" id="month" style="height: 2rem; background-color: transparent; border: none;">
                <option selected value="">All</option>
                <option value="">This month</option>
                <option value="">This week</option>
                <option value="">Today</option>
            </select>
        </div>
    </div>
    <div class= "box-div">
        <div class=" text-center">
            <p>Total Income</p>
            <p>Rs.60</p>
        </div>
        <div class=" text-center">
            <p>Total Orders</p>
            <p>16</p>
        </div>
        <div class=" text-center">
            <p>Total Undelivered</p>
            <p>43</p>
        </div>
        <div class=" text-center">
            <p>Total Cancelled</p>
            <p>64</p>
        </div>
    </div>
    <div class="order-details">
    <div class="row orders">
        <div class="col-xl-3 col-md-4">
            <h1>Today's orders</h1>
        </div>
        <div class="col-2 offset-3">
            <button id="cancel-btn">Cancel</button>
        </div>
        <div class="col-2 d-flex justify-content-between align-items-center icon-controls">
            <button><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="grommet-icons:previous" data-inline="false" style="transform: rotate(360deg);"><path fill="none" stroke="currentColor" stroke-width="2" d="M17 2L7 12l10 10"></path></svg></button>
            <p style="margin-top:11px">1 of 1</p>
            <button><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="iconify" data-icon="grommet-icons:next" data-inline="false" style="transform: rotate(360deg);"><path fill="none" stroke="currentColor" stroke-width="2" d="M7 2l10 10L7 22"></path></svg></button>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Order On</th>
                    <th>Order ID</th>
                    <th>Customer Details</th>
                    <th>Product Details</th>
                    <th>Payment</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="noOrderMsg !== null">
                    <td colspan="7" style="color: red;text-align:center;">{{noOrderMsg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
