<div class="container-sub">
  <div>
    <input type="text" placeholder="Search" [ngModel]="searchTxt" (ngModelChange)="performSearch($event)"/>
  </div>
      <div class="mat-elevation-z8" *ngIf="catMsg === null">
        <table mat-table [dataSource]="displayData" class="mat-elevation-z8">
            <!-- Category Column -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category?.category}} </td>
            </ng-container>

            <ng-container matColumnDef="subCate">
                <th mat-header-cell *matHeaderCellDef> Sub Category </th>
                <td mat-cell *matCellDef="let element"> {{element.subCate}} </td>
              </ng-container>
          
            <!-- Featured Column -->
            <ng-container matColumnDef="isFeatured">
              <th mat-header-cell *matHeaderCellDef> Featured </th>
              <td mat-cell *matCellDef="let element"> {{element.isFeatured ? 'Yes': 'No'}} </td>
            </ng-container>

            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"  (click)="removeCat(element._id)" >  <img src="assets/images/trash.svg" />
                  </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
    <ng-container *ngIf="catMsg !== null">
      <div class="no-recor-cat"> No Record found </div>
    </ng-container>
    <div class="panination-cls">
      <mat-paginator [length]="totalcount"
      (page)="setPage($event)"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
</div>







