 <!--- <div class="col-12 mb-4">
                <div class="row">
                    <label class="col-3"> Category</label>
                    <input class="col-9" value="" type="text" name="category" formControlName="category" />
                    <span *ngIf="submitted && cat.category.errors?.required" style="color:red;" > Category is required </span>
                </div>
                <div class="row">
                    <label class="col-3"> Featured </label>
                    <input class="col-9" type="checkbox" name="isFeatured" formControlName="isFeatured" />
                    <span *ngIf="submitted && cat.isFeatured.errors?.required" style="color:red;" > Featured is required </span>
                </div>
                <div class="col-12 mt-4">
                    <a href="#">
                        <button class="login-btn">Add</button>
                    </a>
                </div>
            </div>--->