<div class="container-custom">
    <div class="row">
        <div class="col-12 heading">
            <h1>Terms & Conditions</h1>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-12 sub-heading">
            <h3>Please read the following terms and conditions very carefully as your use of service is subject to your acceptance of and compliance with the following terms and conditions (here-in-after referred as “Terms”).</h3>
        </div>
        <div class="col-12 my-3">
            <li>
                By subscription or usage of services offered, you have taken note, acknowledged, undertaken to have constructive notice of the Terms and Conditions laid down herein under. Upon subscription or usage of services you are legally bound by the Terms and Conditions. These terms and conditions supersede all previous representations, understandings, or agreements and shall prevail notwithstanding any variance with any other terms of any order placed or service provided by ZEROARMARIO. Accessing, browsing or otherwise using the site indicates your agreement to all the terms and conditions in this agreement. By using the services of ZEROARMARIO you agree to be bound by these terms and conditions. All products/services and information displayed on huetrap.com constitute an “invitation to offer”. Your order for purchase constitutes your “offer” which shall be subject to the terms and conditions as listed below. ZEROARMARIO reserves the right to accept or reject your offer.
            </li>
        </div>

        <div class="col-12 my-3">
            <li>
                As used in this document, the following terms shall have the following respective meanings: 
            </li>
        </div>
        <div class="col-12 my-2">
            <p>
                a). “Agreement” shall be interpreted to mean the terms and conditions as detailed herein including all schedules, appendices, annexures, privacy policy, and will include the references to this agreement as amended, negated, supplemented, varied or replaced from time to time. 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                b). “We” / “Us” / “Our” / “zeroarmario.com” / “ZEROARMARIO” / “website” means the online shopping platform and the services provided by it, owned and operated by Olive Clothiers Private Limited and its affiliates which provides a venue / platform to the Users of Zeroarmario to buy the products listed on www.Zeroarmario.com 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                c). “Product/Products” means and includes any goods / merchandise /products /services /offers /display items that are uploaded/ showcased/ displayed on huetrap.com and the related description, information, procedure, processes, warranties, delivery schedule, etc. 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                d). “Customer” / “buyer” shall mean the person or any legal entity who accepts the offer for sale on huetrap.com by placing an order for and purchases any product offered for sale on the platform of ZEROARMARIO. 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                e). “User” / “you” means and includes any person or an entity or any legal entity using or accessing the services provided on ZEROARMARIO. 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                f). “Service Providers” shall be interpreted to mean independent third party service providers. 
            </p>
        </div>
        <div class="col-12 my-2">
            <h5>
                Introduction: 
            </h5>
        </div>
        <div class="col-12 my-2">
            <p>
                a). www.huetrap.com website (“Website”) is an Internet based content and e-commerce portal owned and operated by OLIVE Clothiers Private Limited, a company incorporated under the laws of India. 
            </p>
        </div>
        <div class="col-12 my-2">
            <p>
                b). Use of the Website is offered to you, is conditional on the acceptance of all the terms, conditions and notices contained in these Terms, as may be posted on the Website from time to time. We always have the sole discretionary right, not to accept a User from registering on the Website without assigning any reason thereof.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="border-0">
                <!-- Accordion -->
                <div id="accordionExample" class="accordion border-0">
                    <div class="card border-0 outline-0">
                        <div id="heading1" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold collapsible-link">User Account,Password and Security<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse1" aria-labelledby="heading1" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading2" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Services Offered<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse2" aria-labelledby="heading2" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading3" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Privacy Policy<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse3" aria-labelledby="heading3" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->

                    <div class="card border-0 outline-0">
                        <div id="heading4" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link">Limited User<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse4" aria-labelledby="heading4" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading5" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">User Conduct and Rules<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse5" aria-labelledby="heading5" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading6" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Exactness not Guaranteed<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse6" aria-labelledby="heading6" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->

                    <div class="card border-0 outline-0">
                        <div id="heading7" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link">Intellectual Property Rights<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse7" aria-labelledby="heading7" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading8" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Links to Third Party Sites<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse8" aria-labelledby="heading8" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading9" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Disclaimer of Warranty/Limitation of Liability<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse9" aria-labelledby="heading9" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->

                    <div class="card border-0 outline-0">
                        <div id="heading10" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link">Indemnification<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse10" aria-labelledby="heading10" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading11" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Pricing<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse11" aria-labelledby="heading11" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading12" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Shipping<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse12" aria-labelledby="heading12" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->

                    <div class="card border-0 outline-0">
                        <div id="heading13" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse13" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link">Termination<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse13" aria-labelledby="heading13" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading14" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse14" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Governing Law<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse14" aria-labelledby="heading14" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading15" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse15" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Interpretation of Number and Genders<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse15" aria-labelledby="heading15" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    
                    <div class="card border-0 outline-0">
                        <div id="heading16" class="card-header p-0 m-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse16" aria-expanded="false" aria-controls="collapseOne" class="collapsed border-0 bg-white text-dark font-weight-bold   collapsible-link">Severability<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse16" aria-labelledby="heading16" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestias exercitationem repudiandae vero ad placeat voluptatum omnis tenetur. Beatae non aut ea expedita sit modi eaque odit consectetur exercitationem quam.</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading17" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse17" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Report Abuse<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse17" aria-labelledby="heading17" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    <div class="card border-0">
                        <div id="heading18" class="card-header m-0 p-0 bg-white border-0">
                            <h2 class="mb-0">
                                <button type="button" data-toggle="collapse" data-target="#collapse18" aria-expanded="false" aria-controls="collapseTwo" class="border-0 outline-0 bg-white collapsed text-dark font-weight-bold   collapsible-link">Entire Agreement<i class="fas fa-chevron-down float-right"></i></button>
                            </h2>
                        </div>
                        <div id="collapse18" aria-labelledby="heading18" data-parent="#accordionExample" class="collapse">
                            <div class="card-body">
                                <p class="font-weight-light m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptatum aliquam ab illum architecto a iusto saepe pariatur necessitatibus suscipit tempora accusantium laudantium eligendi odio dignissimos totam, reprehenderit sapiente odit?</p>
                            </div>
                        </div>
                    </div><!-- End -->
                    
                </div><!-- End -->
            </div>
        </div>
    </div>
</div>
