<footer id="footer-web" class="footer-bs">
  <div class="container-custom">
  <div class="row">
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 pl-3 footer-social animated fadeInDown"
    >
      <p>Get to know us</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Our pages</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 footer-social animated fadeInDown"
    >
      <p>Let us help you</p>
      <ul>
        <li><a href="myaccount">Account</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Cancelation</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Track my order</a></li>
      </ul>
    </div>
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 footer-social animated fadeInDown"
    >
      <p class="stay-connected">Stay connected</p>
      <a class="stay-text">Get alerts about on Zero Armario.</a>
      <div style="height: 20px;"></div>
      <div class="input-group">
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
        />
        <span class="input-group-btn">
          <button class="btn" type="button">
            <i class="bx bx-envelope"></i>
          </button>
        </span>
        <div class="border"></div>
        <div class="social-icons" style="justify-content: space-evenly">
          <a href="#"><i class="bx bxl-facebook bx-xs"></i></a>
          <a href="#"><i class="bx bxl-twitter bx-xs"></i></a>
          <a href="#"><i class="bx bxl-instagram bx-xs"></i></a>
          <a href="#"><i class="bx bxl-youtube bx-xs"></i></a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 pr-3 footer-social animated fadeInDown"
    >
      <p>Payment method</p>
      <div id="pay">
        <img src="../../../assets/images/png/pays.png" width="60%"/>
      </div>
    </div>
  </div>
  <p  style="text-align: center; font-size: 14px; border-bottom: none; position: absolute;
  bottom: 0vh;
  left: 50vw;">&copy; Spaxe</p>
  </div>
</footer>
<footer id="footer-mobile" class="footer-bs">
  <div class="container-custom">
  <div class="row">
  <div class="col-12 footer-social animated fadeInDown">
    <div
    class="accordion"
    id="accordionExampleMobile"
  >
      <div id="headingOneMobile">
        <button
          class="btn-block dropdown-toggle2 collapsed text-left"
          data-toggle="collapse"
          data-target="#collapseOneMobile"
          aria-expanded="false"
          aria-controls="collapseOneMobile"
        >
          Get to know us
        </button>
      </div>
      <div
        id="collapseOneMobile"
        class="collapse"
        aria-labelledby="headingOneMobile"
        data-parent="#accordionExampleMobile"
      >
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Privacy policy</a></li>
        <li><a href="#">Our pages</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
      </div>
      <div id="headingTwoMobile">
        <button
          class="btn-block dropdown-toggle2 collapsed text-left"
          data-toggle="collapse"
          data-target="#collapseTwoMobile"
          aria-expanded="false"
          aria-controls="collapseTwoMobile"
        >
          Let us help you
        </button>
      </div>
      <div
        id="collapseTwoMobile"
        class="collapse"
        aria-labelledby="headingTwoMobile"
        data-parent="#accordionExampleMobile"
      >
      <ul>
        <li><a href="myaccount">Account</a></li>
        <li><a href="#">Returns</a></li>
        <li><a href="#">Cancelation</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Track my order</a></li>
      </ul>
      </div>
    </div>
  </div>
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 col-12 footer-social animated fadeInDown"
    >
      <p class="stay-connected">Stay connected</p>
      <div class="input-group">
        <input
          type="email"
          class="form-control"
          placeholder="Enter your email"
        />
        <span class="input-group-btn">
          <button class="btn" type="button">
            <i class="bx bx-envelope"></i>
          </button>
        </span>
        <div class="border"></div>
        <div class="social-icons" style="justify-content: space-evenly">
          <a href="#"><i class="bx bxl-facebook bx-xs"></i></a>
          <a href="#"><i class="bx bxl-twitter bx-xs"></i></a>
          <a href="#"><i class="bx bxl-instagram bx-xs"></i></a>
          <a href="#"><i class="bx bxl-youtube bx-xs"></i></a>
        </div>
      </div>
    </div>
    <div
      class="col-lg-3 col-xs-6 col-sm-6 col-md-3 col-12 footer-social animated fadeInDown"
      style="margin-bottom: 25vh;"
    >
      <p>Payment Accepted</p>
      <div class="row no-gutters">
        <div class="col-10">
          <img src="../../../assets/images/png/pays-mobile.png" alt="">
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>